APScheduler==3.10.4
asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.3
django-classy-tags==4.1.0
django-crontab==0.7.1
django-restart==0.2.8.7
djangorestframework==3.15.1
dynaconf==3.2.5
feedparser==6.0.11
hvac==2.1.0
idna==3.6
knox==0.1.14
loguru==0.7.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
sgmllib3k==1.0.0
shortuuid==1.0.13
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzlocal==5.2
urllib3==2.2.1
validators==0.24.0
